.search {
  padding: 1rem;
  @include flex-center;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: 60rem;
  margin-bottom: 2rem;

  &__input {
    width: 100%;
    padding: 1rem;
    border: 1px solid $stroke-table;
    border-radius: 1rem;
    font-size: 1.6rem;

    &::placeholder {
      color: $color-main-gray;
    }
  }

  &__icon {
    color: $color-main-gray;
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%)
  }
}

.highlight {
  color: red;
}